// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;
$primary: #C8D5C0;
$secondary: #D9A5A0;
$custom-colors: (
        "brown": #8C6A52,
        "Button1": #19324A,
);
$body-bg-color: #F7F2EA;



// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...

body {
  background-color: $body-bg-color;
}

/* overskrift font */
h1, h2, h3, h4, h5, h6 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 700; /* valgfrit: gør dem flotte og kraftige */
  color: #8C6A52;
}

/* brødtekst font */
body, p, li, a, span {
  font-family: "Lora", serif;
  color: #8C6A52;
}

/* Boks rundt om introtekst */
.intro-box {
  background-color: #F7F2EA;      // vælg selv (evt. #F7F2EA)
  padding: 2rem;
  border: 5px solid #C8D5C0;   // din brun eller primary
  border-radius: 12px;         // rundere hjørner
  max-width: 900px;
  margin: 0 auto;              // centrer boksen
}





.banner-img {
  height: 500px;      /* vælg den højde du vil bruge */
  object-fit: cover;  /* beskærer billedet pænt */
  object-position: center; /* holder fokus i midten */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  /* Flexbox styring */
  display: flex;
  justify-content: flex-end;   /* placer til højre */
  align-items: center;          /* centrer vertikalt */
  padding: 2rem;
}



/* Billede og tekst neden under navbar */
.BilledeOgTekst {
  position: relative;       /* Tekst kan ligge ovenpå billedet */
}

.BilledeOgTekst img {
  width: 100%;
  height: 400px;            /* vælg selv */
  object-fit: cover;
}

.overlay-text {
  position: absolute;
  top: 60px;                /* afstand fra toppen */
  left: 20px;               /* ← nu i venstre side */
  color: #8C6A52;
  font-size: 3.5rem;
  font-weight: bold;
}

/* farve tekst i navbar */
.my-navbar .nav-link,
.my-navbar .navbar-brand {
  color: #8C6A52 !important;   /* din ønskede farve */
}


